<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form [formGroup]="moderatorForm" (ngSubmit)="submit()" class="moderator-form">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" class="form-control" formControlName="name" placeholder="Enter Name"/>
                    @if (name?.touched && name?.errors) {
                        <div class="text-danger small mt-1">Name is required</div>
                    }
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" class="form-control" formControlName="email" placeholder="Enter Email"/>
                    @if (email?.touched && email?.errors) {
                        <div class="text-danger small mt-1">Invalid Email</div>
                    }
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
                    @if(password?.touched && password?.errors) {
                        <div class="mt-1 text-danger small">Password must be at least 8 characters and include a number
                        </div>
                    }
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
                    @if(confirmPassword?.touched && moderatorForm.errors?.['passwordMismatch']) {
                        <div class="mt-1 text-danger small">Passwords do not match</div>
                    }
                </div>

                <button type="submit" class="btn btn-accent w-100">Add Moderator</button>
                
                @if (responseMessage) {
                    <div class="text-danger mt-2 small">{{ responseMessage }}</div>
                }
            </form>
        </div>
    </div>
</div>