/* You can add global styles to this file, and also import other style files */
@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
  --accent: #4F83FF;
  --text: #000000;
  --bg: #F9FAFB;
  --muted: #6c757d;

  --hover-accent:#024dfb;
  --hover-text:#303030;
  --hover-bg: #E8EAED;
}

[data-theme='dark'] {
  --accent: #1d63ed;
  --text: #F9FAFB;
  --bg: #101014;
  --muted: #b0b0b0;

  --hover-accent:#024dfb;
  --hover-text:#E8EAED;
  --hover-bg: #202020;
}

.text-muted{
  color: var(--muted) !important;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
