/* You can add global styles to this file, and also import other style files */
@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
  --nav-bg: #4F83FF;
  --nav-text: #F9FAFB;
  --nav-accent: #E8EAED;
  --nav-btn-hover: #d6dbe4;

  --body-bg: #F9FAFB;
  --body-text: #4F83FF;

  --content-bg: #F9FAFB;
  --content-text: #000000;
  --content-accent: #4F83FF;
  --content-border: #e0e0e0;
  --content-muted: #6c757d;
}

[data-theme='dark'] {
  --nav-bg:  #303134;
  --nav-text: #E8EAED;
  --nav-accent: #4F83FF;

  --body-bg: #202020;
  --body-text: #ffffff;

  --content-bg: #303134;
  --content-text: #ffffff;
  --content-accent: #4F83FF;
  --content-border: #555;
  --content-muted: #b0b0b0;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: var(--body-bg);
  color: var(--body-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
